@model Int32
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div>
    <div class="card" style="background-color:red;width:10rem;">
        <div class="card-body">
            <h1>@Model</h1>
            <p>Kategori Sayısı</p>
        </div>
    </div>
    <div class="card" style="width: 10rem; background-color: red;">
        <div class="card-body">
            "Merhaba"
        </div>
    </div>
</div>
